{% extends 'base.html.twig' %}

{% block meta %}
  <meta name="description" content="Découvrez qui sommes-nous dans cette page" />
  <meta name="keywords" lang="fr" content="SEI, Cabiet SEI, expert des l'assistance pour les études à l'international" />
{% endblock %}

{% block title %}A propos de SEI{% endblock %}


{% block page_header %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">Qui sommes-nous ?</h1>
      <div class="row center">
        <h5 class="header col s12 light">Découvrez qui nous sommes</h5>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_content %}
  <div class="container">
    <div class="row">
      <h2>Présentation de SEI</h2>
      <div class="ui clearing divider"></div>
      <p class="my-paragraphs my-alinea">
        Services Etudes Internationales (SEI) est un cabinet d’assistance et d’orientation en études supérieures à l’étranger.
        Notre objectif est d’aider les étudiants désireux de poursuivre des études à l’étranger à concrétiser leurs projets.
        De plus en plus d’étudiants  disposent de capacités intellectuelles et de soutiens financiers  pour poursuivre dans les
        meilleures universités et grandes écoles européennes, américaines et nord africaines. Malheureusement, ils n’ont pas toutes
        les informations appropriées sur les procédures pour y aller.  Le Cabinet SEI qui dispose  d’un personnel expérimenté en la
        matière a pour mission de vous coacher dans toutes vos démarches, depuis l’orientation initiale, en passant par l’élaboration
        de votre dossier, votre recherche de logement ainsi que des conseils sur la procédure de visa.
      </p>
      <p class="my-paragraphs my-alinea">
        Avec le Cabinet SEI, c’est toute une équipe expérimentée à votre disposition pour réussir votre projet d’études à l’étranger.
      </p>
    </div>
    <div class="row">
      <div class="col l4 m6 s12">
        <h3 class="header">Missions</h3>
        <p class="center-aligns">
          Accompagnement durant tous les processus pour les études à l'étranger
        </p>
      </div>
      <div class="col l4 m6 s12">
        <h3 class="header">Objectifs</h3>
        <p class="center-align">
          Nous voulons par nos actions, faciliter l'accès à une formation de haute qualité
          pour les génies issus de nos grandes écoles et universités
        </p>
      </div>
      <div class="col l4 m6 s12">
        <h3 class="header truncate" title="Moyens d'action">Moyens d'action</h3>
        <p class="center-align">
          Pour mener à bien notre mission, nous avons tissé des partenariats avec des structures
          administratives locales et internationales
        </p>
      </div>
    </div>
  </div>
{% endblock %}
